@import "./mixin";
$nav-bg: #f4f4f4;
$green-input: #017e57;
$white: #fff;
$light: rgba(#fff, 0.7);
$dark: rgba(#000, 0.7);
$btn-bg: #ff4e2d;
$bg-slider: #f4f4f4;
$bg-footer: #1a614f;
$mobile-width: rem(600);
$tablet-width: rem(1100);

$font-family: "Dosis", sans-serif;
